/*EVERYONE*/
body {
    background-color: silver;
    font-size: 200%;
    
}
#body{
    background-color: silver;
    font-size: 200%;  
}

#HomePageTitles {
    text-align: center;
    font-size: 200%;
    position: relative;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    font-style: italic;
}

.CheckBox {
    font-size: 75%;
    color: white;
    
}

.DropDownMenu {
    border: 2px solid #2f2d2d;
}

input.ButtonForms:hover {
       background: #2bdde2;
}
input.ButtonForms {
    text-decoration: none;
}

#UserForms {
    text-align:left;
    margin-left:250px;
    color:white;
    font-size:110%
}

.ListBoxes {
    border: 2px solid black;
}



.TextBoxes {
    border: 2px solid black;
    font-size:50%
}


.HomepageButton {
    /*Postioning*/
    position:relative;
    display: block;
    margin:auto;

    border: 2px solid #2f2d2d;

    /*Text*/
    text-align:center;
    color: white;  
}

input.HomepageButton {
    text-decoration: none;
}

input.HomepageButton:hover {
        background: #2bdde2;
}


/*JACKS*/

.ReceptionistButton {
    /*Postioning*/
    position:relative;
    display: block;
    margin:auto;

    border: 2px solid #2f2d2d;

    /*Text*/
    text-align:center;
    color: white;
    font-size:75%  
}

input.ReceptionistButton {
    text-decoration: none;
}

input.ReceptionistButton:hover {
        background: #2bdde2;
}




/*JAKE*/
.MechanicButton {
    /*Postioning*/
    position:relative;
    display: block;
    margin:auto;
    
   border: 2px solid #2f2d2d;

    /*Text*/
    text-align:center;
    color: black;
    font-size:75%  
}

input.MechanicButton {
    text-decoration: none;
}

input.MechanicButton:hover {
        background: #2bdde2;
}

/*ZAD*/
.SalesmanButton {
    /*Postioning*/
    position:relative;
    display: block;
    margin:auto;
    
    border: 2px solid #2f2d2d;

    /*Text*/
    text-align:center;
    color: white;
    font-size:75%  
}

input.SalesmanButton {
    text-decoration: none;
}

input.SalesmanButton:hover {
        background: #2bdde2;
}


/*GURDIP*/
.SupplierButton {
    /*Postioning*/
    position:relative;
    display: block;
    margin:auto;
   
    border: 2px solid #2f2d2d;

    /*Text*/
    text-align:center;
    color: white;
    font-size:75%  
}

input.SupplierButton {
    text-decoration: none;
}

input.SupplierButton:hover {
        background: #2bdde2;
}






