/*EVERYONE*/
body {
    background-color: darkgray;
    font-size: 200%;
    
}
#body{
    background-color: darkgray;
    font-size: 200%;  
}

#HomePageTitles {
    text-align: center;
    font-size: 200%;
    position: relative;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    font-style: italic;
}

a.CheckBoxtext {
    font-size: 5%;
    color: white;
}

a.DropDownMenu {
    text-align:center;
    background:#5385b5;
    border: 2px solid #2f2d2d;
    border-radius:100px;
    box-shadow: 0 5px 0 #4e4b4b;
    text-shadow: 0 6px 6px #000000;

}

input.ButtonForms:hover {
       background: #2bdde2;
}
input.ButtonForms {
    text-decoration: none;
}

#UserForms {
    text-align:left;
    margin-left:250px;
    color:white;
    font-size:110%
}

.EnquiryTextBox {
    height: 400px;
    width: 1000px;
    font-size:85%;
    color:white;
    margin-bottom:5px;
    background: darkgray;
    border:solid #5385b5;
    
}



a.HomepageButton {
    /*Postioning*/
    position:relative;
    display: block;
    margin:auto;
    height: 100px;
    width: 550px;
    
    /*Aesthetics*/
    background:#5385b5;
    border: 2px solid #2f2d2d;
    border-radius:100px;
    box-shadow: 0 5px 0 #4e4b4b;
    text-shadow: 0 6px 6px #000000;

    /*Text*/
    text-align:center;
    color: white;  
}

a.HomepageButton {
    text-decoration: none;
}

a.HomepageButton:hover {
        background: #2bdde2;
}


/*JACKS*/

.ReceptionistButton {
    /*Postioning*/
    position:relative;
    display: block;
    margin:auto;
    height: 100px;
    width: 550px;
    
    /*Aesthetics*/
    background:#5385b5;
    border: 2px solid #2f2d2d;
    border-radius:100px;
    box-shadow: 0 5px 0 #4e4b4b;
    text-shadow: 0 6px 6px #000000;

    /*Text*/
    text-align:center;
    color: white;  
}

a.ReceptionistButton {
    text-decoration: none;
}

a.ReceptionistButton:hover {
        background: #2bdde2;
}




/*JAKE*/
.MechanicButton {
    /*Postioning*/
    position:relative;
    display: block;
    margin:auto;
    height: 100px;
    width: 550px;
    
    /*Aesthetics*/
    background:#5385b5;
    border: 2px solid #2f2d2d;
    border-radius:100px;
    box-shadow: 0 5px 0 #4e4b4b;
    text-shadow: 0 6px 6px #000000;

    /*Text*/
    text-align:center;
    color: white;  
}

a.MechanicButton {
    text-decoration: none;
}

a.MechanicButton:hover {
        background: #2bdde2;
}

/*ZAD*/
a.SalesmanButton {
    /*Postioning*/
    position:relative;
    display: block;
    margin:auto;
    height: 100px;
    width: 550px;
    
    /*Aesthetics*/
    background:#5385b5;
    border: 2px solid #2f2d2d;
    border-radius:100px;
    box-shadow: 0 5px 0 #4e4b4b;
    text-shadow: 0 6px 6px #000000;

    /*Text*/
    text-align:center;
    color: white;  
}

a.SalesmanButton {
    text-decoration: none;
}

a.SalesmanButton:hover {
        background: #2bdde2;
}


/*GURDIP*/
a.SupplierButton {
    /*Postioning*/
    position:relative;
    display: block;
    margin:auto;
    height: 100px;
    width: 550px;
    
    /*Aesthetics*/
    background:#5385b5;
    border: 2px solid #2f2d2d;
    border-radius:100px;
    box-shadow: 0 5px 0 #4e4b4b;
    text-shadow: 0 6px 6px #000000;

    /*Text*/
    text-align:center;
    color: white;  
}

a.SupplierButton {
    text-decoration: none;
}

a.SupplierButton:hover {
        background: #2bdde2;
}






/*HI JAKE - PUSS*/