<?xml version="1.0"?>


<configuration>

    <connectionStrings>
<remove name="LocalSqlServer"/>
<add name="LocalSqlServer" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|aspnetdb.mdf;Integrated Security=True"/>
</connectionStrings>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <authentication mode="Forms"/>
    </system.web>

</configuration>
